In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.base import TransformerMixin
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.base import TransformerMixin

In [3]:
import pandas as pd
df_mr = pd.read_excel (r'C:\Users\mohds\OneDrive\Desktop\DM PROJECT\2019_Pro_Kabaddi.xlsx')
print (df_mr)

        Week            Team_1           Team_2  Team 1_Score  Team 2_Score  \
0     Week 1     Telugu Titans          U Mumba            25            31
1     Week 1   Bengaluru Bulls    Patna Pirates            34            32
2     Week 1   Bengaluru Bulls   Fortune Giants            24            42
3     Week 1     Telugu Titans  Tamil Thalaivas            26            39
4     Week 1           U Mumba    Pink Panthers            23            42
..       ...               ...              ...           ...           ...
110  Week 11    Fortune Giants  Tamil Thalaivas            50            21
111  Week 11     Puneri Paltan     Dabang Delhi            40            60
112  Week 11  Haryana Steelers   Fortune Giants            38            37
113  Week 11      Dabang Delhi  Bengal Warriors            33            42
114  Week 11           U Mumba  Tamil Thalaivas            36            32

               Winner  MarginScore
0             U Mumba           -6
1     Bengaluru Bulls            2
2      Fortune Giants          -18
3     Tamil Thalaivas          -13
4       Pink Panthers          -19
..                ...          ...
110    Fortune Giants           29
111      Dabang Delhi          -20
112  Haryana Steelers            1
113   Bengal Warriors           -9
114           U Mumba            4

[115 rows x 7 columns]

In [4]:
df_mr = df_mr.drop(['Week','Team 1_Score','Team 2_Score','MarginScore'],axis=1)
df_mr.head()

            Team_1           Team_2           Winner
0    Telugu Titans          U Mumba          U Mumba
1  Bengaluru Bulls    Patna Pirates  Bengaluru Bulls
2  Bengaluru Bulls   Fortune Giants   Fortune Giants
3    Telugu Titans  Tamil Thalaivas  Tamil Thalaivas
4          U Mumba    Pink Panthers    Pink Panthers

In [5]:
df_mr = df_mr.reset_index(drop=True)
df_mr.loc[df_mr.Winner == df_mr.Team_1,'winning_team']=1
df_mr.loc[df_mr.Winner == df_mr.Team_2, 'winning_team']=2
df_mr = df_mr.drop(['winning_team'], axis=1)

df_mr.head(10)

            Team_1            Team_2            Winner
0    Telugu Titans           U Mumba           U Mumba
1  Bengaluru Bulls     Patna Pirates   Bengaluru Bulls
2  Bengaluru Bulls    Fortune Giants    Fortune Giants
3    Telugu Titans   Tamil Thalaivas   Tamil Thalaivas
4          U Mumba     Pink Panthers     Pink Panthers
5    Puneri Paltan  Haryana Steelers  Haryana Steelers
6        UP Yoddha   Bengal Warriors   Bengal Warriors
7    Telugu Titans      Dabang Delhi     Telugu Titans
8        UP Yoddha    Fortune Giants    Fortune Giants
9    Telugu Titans     Patna Pirates     Patna Pirates

In [21]:
#convert team-1 and team-2 from categorical variables to continous inputs 
# Get dummy variables
final = pd.get_dummies(df_mr, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

# Separate X and y sets
#basically relates dependent variable and independent variable
X = final.drop(['Winner'], axis=1)
y = final["Winner"]


# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=100)
final.head()
X

,Team_1_Bengal Warriors,Team_1_Bengaluru Bulls,Team_1_Dabang Delhi,Team_1_Fortune Giants,Team_1_Haryana Steelers,Team_1_Patna Pirates,Team_1_Pink Panthers,Team_1_Puneri Paltan,Team_1_Tamil Thalaivas,Team_1_Telugu Titans,...,Team_2_Dabang Delhi,Team_2_Fortune Giants,Team_2_Haryana Steelers,Team_2_Patna Pirates,Team_2_Pink Panthers,Team_2_Puneri Paltan,Team_2_Tamil Thalaivas,Team_2_Telugu Titans,Team_2_U Mumba,Team_2_UP Yoddha
0,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
111,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
112,False,False,False,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
113,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
114,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [130]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
Y_pred = logreg.predict(X_test)

score=logreg.score(X_train, y_train)
score1=logreg.score(X_test, y_test)

print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.875
Test set accuracy:  0.743

In [39]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)
Y_pred = decision_tree.predict(X_test)


score = decision_tree.score(X_train, y_train)
score2 = decision_tree.score(X_test, y_test)

print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.912
Test set accuracy:  0.600

In [40]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,
                              random_state=100)
rf.fit(X_train, y_train) 


score = rf.score(X_train, y_train)
score2 = rf.score(X_test, y_test)


print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.912
Test set accuracy:  0.686

In [66]:
file=r'C:\Users\mohds\OneDrive\Desktop\DM PROJECT\2019_Pro_Kabaddi.xlsx'
ranking = pd.read_excel(file,'Points Table_2019')
fixtures = pd.read_csv(r'C:\Users\mohds\OneDrive\Desktop\DM PROJECT\kabbadi_fixtures.csv')
pred_set = []
fixtures.head(135)
ranking.head(12)

                Team  Played  WINS  LOSSES  DRAWS  Score Diff  Points
0       Dabang Delhi      20    15       3      2          92      82
1    Bengal Warriors      20    13       4      3          86      78
2   Haryana Steelers      19    12       6      1          24      65
3            U Mumba      19    10       8      1          33      59
4    Bengaluru Bulls      19    10       8      1          12      58
5          UP Yoddha      18    10       6      2         -19      58
6      Pink Panthers      20     8      10      2         -18      52
7      Puneri Paltan      20     6      11      3         -71      42
8      Patna Pirates      19     6      12      1          -1      40
9     Fortune Giants      20     6      12      2          14      45
10     Telugu Titans      18     5      10      3         -39      39
11   Tamil Thalaivas      20     3      14      3        -113      30

In [67]:
# Create new columns with wins of each team
fixtures.insert(1, 'First_Position', fixtures['Team_1'].map(ranking.set_index('Team')['WINS']))
fixtures.insert(2, 'Second_Position', fixtures['Team_2'].map(ranking.set_index('Team')['WINS']))

In [68]:
# We only need the group stage games, so we have to slice the dataset
fixtures = fixtures.iloc[:131, :]
fixtures.head(10)

            Team_1  First_Position  Second_Position            Team_2  Winner
0    Telugu Titans             5.0             10.0           U Mumba     NaN
1  Bengaluru Bulls            10.0              6.0     Patna Pirates     NaN
2  Bengaluru Bulls            10.0              6.0    Fortune Giants     NaN
3    Telugu Titans             5.0              3.0   Tamil Thalaivas     NaN
4          U Mumba            10.0              8.0     Pink Panthers     NaN
5    Puneri Paltan             6.0             12.0  Haryana Steelers     NaN
6        UP Yoddha            10.0             13.0   Bengal Warriors     NaN
7    Telugu Titans             5.0             15.0      Dabang Delhi     NaN
8        UP Yoddha            10.0              6.0    Fortune Giants     NaN
9    Telugu Titans             5.0              6.0     Patna Pirates     NaN

In [69]:
# Loop to add teams to new prediction dataset based on the wins of each team
for index, row in fixtures.iterrows():
    if row['First_Position'] > row['Second_Position']:
        pred_set.append({'Team_1': row['Team_1'], 'Team_2': row['Team_2'], 'winning_team': None})
    else:
        pred_set.append({'Team_1': row['Team_2'], 'Team_2': row['Team_1'], 'winning_team': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set

In [70]:
backup_pred_set.head()

            Team_1           Team_2 winning_team
0          U Mumba    Telugu Titans         None
1  Bengaluru Bulls    Patna Pirates         None
2  Bengaluru Bulls   Fortune Giants         None
3    Telugu Titans  Tamil Thalaivas         None
4          U Mumba    Pink Panthers         None

In [71]:
# Get dummy variables and drop winning_team column
pred_set = pd.get_dummies(pred_set, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

# Add missing columns compared to the model's training dataset
missing_cols = set(final.columns) - set(pred_set.columns)

for c in missing_cols:
     pred_set[c] =0
pred_set = pred_set[final.columns]


pred_set = pred_set.drop(['Winner'], axis=1)
pred_set.head()

,Team_1_Bengal Warriors,Team_1_Bengaluru Bulls,Team_1_Dabang Delhi,Team_1_Fortune Giants,Team_1_Haryana Steelers,Team_1_Patna Pirates,Team_1_Pink Panthers,Team_1_Puneri Paltan,Team_1_Tamil Thalaivas,Team_1_Telugu Titans,...,Team_2_Dabang Delhi,Team_2_Fortune Giants,Team_2_Haryana Steelers,Team_2_Patna Pirates,Team_2_Pink Panthers,Team_2_Puneri Paltan,Team_2_Tamil Thalaivas,Team_2_Telugu Titans,Team_2_U Mumba,Team_2_UP Yoddha
0,False,False,False,False,False,False,False,False,0,False,...,0,False,False,False,False,False,False,True,False,False
1,False,True,False,False,False,False,False,False,0,False,...,0,False,False,True,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,0,False,...,0,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,0,True,...,0,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,0,False,...,0,False,False,False,True,False,False,False,False,False

In [91]:
#group matches 
predictions = logreg.predict(pred_set)
for i in range(fixtures.shape[0]):
    print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
    if predictions[i] == 1:
        print("Winner: " + backup_pred_set.iloc[i, 1])
    
    else:
        print("Winner 1: " + backup_pred_set.iloc[i, 0])
    print("")

Telugu Titans and U Mumba
Winner 1: U Mumba

Patna Pirates and Bengaluru Bulls
Winner 1: Bengaluru Bulls

Fortune Giants and Bengaluru Bulls
Winner 1: Bengaluru Bulls

Tamil Thalaivas and Telugu Titans
Winner 1: Telugu Titans

Pink Panthers and U Mumba
Winner 1: U Mumba

Puneri Paltan and Haryana Steelers
Winner 1: Haryana Steelers

UP Yoddha and Bengal Warriors
Winner 1: Bengal Warriors

Telugu Titans and Dabang Delhi
Winner 1: Dabang Delhi

Fortune Giants and UP Yoddha
Winner 1: UP Yoddha

Telugu Titans and Patna Pirates
Winner 1: Patna Pirates

Puneri Paltan and U Mumba
Winner 1: U Mumba

Pink Panthers and Bengal Warriors
Winner 1: Bengal Warriors

Haryana Steelers and Dabang Delhi
Winner 1: Dabang Delhi

U Mumba and Bengaluru Bulls
Winner 1: Bengaluru Bulls

Tamil Thalaivas and Patna Pirates
Winner 1: Patna Pirates

Puneri Paltan and Bengal Warriors
Winner 1: Bengal Warriors

Pink Panthers and Haryana Steelers
Winner 1: Haryana Steelers

U Mumba and UP Yoddha
Winner 1: UP Yoddha

Fortune Giants and Dabang Delhi
Winner 1: Dabang Delhi

Telugu Titans and UP Yoddha
Winner 1: UP Yoddha

Fortune Giants and U Mumba
Winner 1: U Mumba

Patna Pirates and Pink Panthers
Winner 1: Pink Panthers

Bengaluru Bulls and Bengal Warriors
Winner 1: Bengal Warriors

Tamil Thalaivas and Haryana Steelers
Winner 1: Haryana Steelers

Patna Pirates and Puneri Paltan
Winner 1: Puneri Paltan

Pink Panthers and Dabang Delhi
Winner 1: Dabang Delhi

Fortune Giants and Puneri Paltan
Winner 1: Puneri Paltan

Tamil Thalaivas and UP Yoddha
Winner 1: UP Yoddha

Patna Pirates and Haryana Steelers
Winner 1: Haryana Steelers

Telugu Titans and Bengaluru Bulls
Winner 1: Bengaluru Bulls

U Mumba and Bengal Warriors
Winner 1: Bengal Warriors

Patna Pirates and UP Yoddha
Winner 1: UP Yoddha

Tamil Thalaivas and Fortune Giants
Winner 1: Fortune Giants

Puneri Paltan and Dabang Delhi
Winner 1: Dabang Delhi

Bengaluru Bulls and Haryana Steelers
Winner 1: Haryana Steelers

Telugu Titans and Fortune Giants
Winner 1: Fortune Giants

Telugu Titans and Bengal Warriors
Winner 1: Bengal Warriors

UP Yoddha and Bengaluru Bulls
Winner 1: Bengaluru Bulls

UP Yoddha and Haryana Steelers
Winner 1: Haryana Steelers

Fortune Giants and Bengal Warriors
Winner 1: Bengal Warriors

Puneri Paltan and Pink Panthers
Winner 1: Pink Panthers

Patna Pirates and U Mumba
Winner 1: U Mumba

Fortune Giants and Pink Panthers
Winner 1: Pink Panthers

Tamil Thalaivas and Bengaluru Bulls
Winner 1: Bengaluru Bulls

Bengal Warriors and Dabang Delhi
Winner 1: Dabang Delhi

Telugu Titans and Haryana Steelers
Winner 1: Haryana Steelers

Tamil Thalaivas and Puneri Paltan
Winner 1: Puneri Paltan

U Mumba and Haryana Steelers
Winner 1: Haryana Steelers

Pink Panthers and UP Yoddha
Winner 1: UP Yoddha

Puneri Paltan and Bengaluru Bulls
Winner 1: Bengaluru Bulls

Tamil Thalaivas and Pink Panthers
Winner 1: Pink Panthers

Patna Pirates and Bengal Warriors
Winner 1: Bengal Warriors

Fortune Giants and Patna Pirates
Winner 1: Patna Pirates

Tamil Thalaivas and U Mumba
Winner 1: U Mumba

Bengaluru Bulls and Dabang Delhi
Winner 1: Dabang Delhi

Telugu Titans and Pink Panthers
Winner 1: Pink Panthers

Pink Panthers and Bengaluru Bulls
Winner 1: Bengaluru Bulls

UP Yoddha and Dabang Delhi
Winner 1: Dabang Delhi

Haryana Steelers and Bengal Warriors
Winner 1: Bengal Warriors

Puneri Paltan and UP Yoddha
Winner 1: UP Yoddha

Fortune Giants and Haryana Steelers
Winner 1: Haryana Steelers

U Mumba and Dabang Delhi
Winner 1: Dabang Delhi

Tamil Thalaivas and Bengal Warriors
Winner 1: Bengal Warriors

Telugu Titans and Puneri Paltan
Winner 1: Puneri Paltan

Patna Pirates and Dabang Delhi
Winner 1: Dabang Delhi

Fortune Giants and Bengaluru Bulls
Winner 1: Bengaluru Bulls

Pink Panthers and U Mumba
Winner 1: U Mumba

UP Yoddha and Bengal Warriors
Winner 1: Bengal Warriors

Tamil Thalaivas and Bengaluru Bulls
Winner 1: Bengaluru Bulls

Puneri Paltan and Haryana Steelers
Winner 1: Haryana Steelers

Tamil Thalaivas and Telugu Titans
Winner 1: Telugu Titans

Pink Panthers and Dabang Delhi
Winner 1: Dabang Delhi

Patna Pirates and Bengaluru Bulls
Winner 1: Bengaluru Bulls

Puneri Paltan and U Mumba
Winner 1: U Mumba

Patna Pirates and UP Yoddha
Winner 1: UP Yoddha

Telugu Titans and Bengaluru Bulls
Winner 1: Bengaluru Bulls

Fortune Giants and Bengal Warriors
Winner 1: Bengal Warriors

Haryana Steelers and Dabang Delhi
Winner 1: Dabang Delhi

Tamil Thalaivas and Dabang Delhi
Winner 1: Dabang Delhi

Puneri Paltan and Bengal Warriors
Winner 1: Bengal Warriors

Fortune Giants and UP Yoddha
Winner 1: UP Yoddha

Tamil Thalaivas and Patna Pirates
Winner 1: Patna Pirates

Telugu Titans and U Mumba
Winner 1: U Mumba

Pink Panthers and Haryana Steelers
Winner 1: Haryana Steelers

U Mumba and Bengal Warriors
Winner 1: Bengal Warriors

Patna Pirates and Pink Panthers
Winner 1: Pink Panthers

Bengaluru Bulls and Bengal Warriors
Winner 1: Bengal Warriors

Puneri Paltan and Fortune Giants
Winner 1: Fortune Giants

Tamil Thalaivas and Haryana Steelers
Winner 1: Haryana Steelers

Fortune Giants and Dabang Delhi
Winner 1: Dabang Delhi

Puneri Paltan and Patna Pirates
Winner 1: Patna Pirates

Pink Panthers and UP Yoddha
Winner 1: UP Yoddha

Telugu Titans and Dabang Delhi
Winner 1: Dabang Delhi

U Mumba and UP Yoddha
Winner 1: UP Yoddha

Tamil Thalaivas and Puneri Paltan
Winner 1: Puneri Paltan

Haryana Steelers and Bengal Warriors
Winner 1: Bengal Warriors

Telugu Titans and Patna Pirates
Winner 1: Patna Pirates

Puneri Paltan and Bengaluru Bulls
Winner 1: Bengaluru Bulls

Fortune Giants and Pink Panthers
Winner 1: Pink Panthers

Tamil Thalaivas and UP Yoddha
Winner 1: UP Yoddha

Fortune Giants and U Mumba
Winner 1: U Mumba

Pink Panthers and Bengal Warriors
Winner 1: Bengal Warriors

Patna Pirates and Haryana Steelers
Winner 1: Haryana Steelers

Bengaluru Bulls and Dabang Delhi
Winner 1: Dabang Delhi

Telugu Titans and Bengal Warriors
Winner 1: Bengal Warriors

Puneri Paltan and Pink Panthers
Winner 1: Pink Panthers

Patna Pirates and Dabang Delhi
Winner 1: Dabang Delhi

U Mumba and Bengaluru Bulls
Winner 1: Bengaluru Bulls

Telugu Titans and Pink Panthers
Winner 1: Pink Panthers

UP Yoddha and Haryana Steelers
Winner 1: Haryana Steelers

Tamil Thalaivas and Fortune Giants
Winner 1: Fortune Giants

Puneri Paltan and Dabang Delhi
Winner 1: Dabang Delhi

Fortune Giants and Haryana Steelers
Winner 1: Haryana Steelers

Bengal Warriors and Dabang Delhi
Winner 1: Dabang Delhi

Tamil Thalaivas and U Mumba
Winner 1: U Mumba

Patna Pirates and U Mumba
Winner 1: U Mumba

Bengaluru Bulls and Haryana Steelers
Winner 1: Haryana Steelers

Telugu Titans and Puneri Paltan
Winner 1: Puneri Paltan

Pink Panthers and Bengaluru Bulls
Winner 1: Bengaluru Bulls

Telugu Titans and Haryana Steelers
Winner 1: Haryana Steelers

UP Yoddha and Dabang Delhi
Winner 1: Dabang Delhi

Fortune Giants and Patna Pirates
Winner 1: Patna Pirates

Patna Pirates and Bengal Warriors
Winner 1: Bengal Warriors

Puneri Paltan and UP Yoddha
Winner 1: UP Yoddha

Telugu Titans and Fortune Giants
Winner 1: Fortune Giants

Tamil Thalaivas and Pink Panthers
Winner 1: Pink Panthers

Tamil Thalaivas and Bengal Warriors
Winner 1: Bengal Warriors

Telugu Titans and UP Yoddha
Winner 1: UP Yoddha

U Mumba and Haryana Steelers
Winner 1: Haryana Steelers

U Mumba and Dabang Delhi
Winner 1: Dabang Delhi

Bengaluru Bulls and UP Yoddha
Winner 1: UP Yoddha

In [ ]:
def clean_and_predict(matches, ranking, final, logreg):

   
    positions = []

    # Loop to retrieve each team's position according to Wins
    for match in matches:
        positions.append(ranking.loc[ranking['Team'] == match[0],'WINS'].iloc[0])
        positions.append(ranking.loc[ranking['Team'] == match[1],'WINS'].iloc[0])
    
    # Creating the DataFrame for prediction
    pred_set = []
    i = 0
    j = 0

   
    while i < len(positions):
        dict1 = {}

        # If wins of first team is better then this team will be the 'Team_1' team, and vice-versa
        if positions[i] > positions[i + 1]:
            dict1.update({'Team_1': matches[j][0], 'Team_2': matches[j][1]})
        else:
            dict1.update({'Team_1': matches[j][1], 'Team_2': matches[j][0]})

        # Append updated dictionary to the list, that will later be converted into a DataFrame
        pred_set.append(dict1)
        i += 2
        j += 1
          # Convert list into DataFrame
    pred_set = pd.DataFrame(pred_set)
    backup_pred_set = pred_set

    # Get dummy variables and drop winning_team column
    pred_set = pd.get_dummies(pred_set, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

    # Add missing columns compared to the model's training dataset
    missing_cols2 = set(final.columns) - set(pred_set.columns)
    for c in missing_cols2:
        pred_set[c] = 0
    pred_set = pred_set[final.columns]

    pred_set = pred_set.drop(['Winner'], axis=1)
      # Predict
    predictions = logreg.predict(pred_set)
    for i in range(len(pred_set)):
        print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
        if predictions[i] == 1:
            print("Winner: " + backup_pred_set.iloc[i, 1])
        else:
            print("Winner: " + backup_pred_set.iloc[i, 0])
        print("")

In [ ]:
elim1 = [('Haryana Steelers', 'Bengaluru Bulls')]
elim2 = [('U Mumba', 'UP Yoddha')]

In [ ]:
clean_and_predict(elim1, ranking, final, logreg)

Bengaluru Bulls and Haryana Steelers
Winner: Haryana Steelers

In [ ]:
clean_and_predict(elim2, ranking, final, logreg)

U Mumba and UP Yoddha
Winner: UP Yoddha

In [ ]:
semi1 = [('Haryana Steelers', 'Dabang Delhi')]
semi2 = [('UP Yoddha', 'Bengal Warriors')]

In [ ]:
clean_and_predict(semi1, ranking, final, logreg)

Haryana Steelers and Dabang Delhi
Winner: Dabang Delhi

In [ ]:
clean_and_predict(semi2, ranking, final, logreg)

UP Yoddha and Bengal Warriors
Winner: Bengal Warriors

In [ ]:
finale = [('Dabang Delhi','Bengal Warriors')]

In [ ]:
clean_and_predict(finale, ranking, final, logreg)

Bengal Warriors and Dabang Delhi
Winner: Dabang Delhi